<!-- Inherit from base template -->

{% extends "base.html" %}
{% set active_page = "found" %}

{% block content %}
<main>
	<div class="container">
		<h1>Found items </h1>

		<!--Search form-->
		<form id="form_found" action="" method="post" novalidate>
			{{ form.hidden_tag() }}
			<table class=EntryForm>
				<tr>
					<th>{{ form.item.label }}</th>
					<td>
						{{ form.item(size=32) }}
						{% for error in form.item.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<th>{{ form.colour1.label }}</th>
					<td>
						{{ form.colour1 }}
						{% for error in form.colour1.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<th>{{ form.colour2.label }}</th>
					<td>
						{{ form.colour2 }}
						{% for error in form.colour1.errors %}
								<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<th>{{ form.location.label }}</th>
					<td>
						{{ form.location }}
						{% for error in form.location.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<th>{{ form.date.label }}</th>
					<td>
						{{ form.date(id="datePicker_lost") }}
						{% for error in form.date.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</td>
				</tr>
			</table>
			<div class="container">
				{{ form.submit(class="button") }}
			</div>
		</form>
  </div>
</main>

<script src="static/time.js"></script>
{% endblock %}