@charset "utf-8";

/*Main title*/
h1{
	text-align: center;
	font-size: 36px;
	font-family: sans-serif;
}


/*body*/
body{
	background-image: url(img/abstract.jpg);
	background-size: cover;
	
	font-family: sans-serif;
}


.block{
	width: 80%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 10px 20px;
	
	text-align: center;
	align-content: center;
	align-self: center;
	
	
	background-color: white;
	
	border: navy 1px solid;
	border-radius: 10px;
}


/*Form*/
table{
    text-align: left;
}

table th, table td{
	padding: 5px;
}

table th{
	width: 10em;
	
	text-align: left;
	vertical-align: middle;
}

table input[type="text"]{
	width: 20em;
	padding: 5px;
}

table select{
	width: 20em;
	padding: 5px;
}

table input[type="date"]{
	width: 12em;
	padding: 5px;
	
	text-align: right;
}


#form1 input:focus{
	background-color: honeydew;
}

#form1 select:focus{
	background-color: honeydew;
}


/*Search/Clear buttons*/
.btns{
	margin: 10px;
	text-align: center;
}

.btns input{
	width: 100px;
	padding: 5px 0px;
	font-size: 14px;
	margin: 10px;
}

.btns input:hover{
	opacity: 0.7;
}

.btns:active{
	color: #fff;
}



/*Navigation*/
.navigation{
    text-align: right;
}


/*Cursor pointer*/
input[type="reset"],
input[type="submit"]{
	cursor: pointer;
}

